<p id="notice"><%= notice %></p>

<h2>Editing Article</h2>

<%= render 'form', article: @article %>

<%= link_to 'Show', user_article_path(current_user, @article), class: "btn btn-secondary" %>
<%= link_to 'Back', user_articles_path(current_user, @article), class: "btn btn-primary"  %>
